.idea
.mypy_cache
.vscode
codegen/amqp-rabbitmq-0.9.1.json
codegen/amqp0-9-1.xml
*.pyc
build
dist
docs/_build
atlassian-ide-plugin.xml
.DS_Store
pamqp.egg-info
env
env2.7
env3
.coverage
coverage.xml
xunit.xml
coverage
